@charset "uft-8";

/*------------------------------ [ project ] ------------------------------*/
.project {padding: 20px; max-width: 700px; margin: 0 auto;}

/* 탭메뉴 */
.tab_wrap {}
.tab_wrap ul {width: 100%; display: flex; white-space: nowrap; align-items: center; padding: 10px 0; margin: 30px 0; overflow-x: scroll;}
.tab_wrap li {width: auto; padding: 0 10px; height: 35px; line-height: 35px; color: #333333; background: #EAEAEA; cursor: pointer;}
.tab_wrap li ~ li {margin-left: 5px;}
.tab_wrap li.active,
.tab_wrap li.on {font-weight: 600;}
.tab_wrap {}

/* 스크롤 디자인 */
.tab_wrap ul::-webkit-scrollbar {height: 10px; overflow: auto;}
.tab_wrap ul::-webkit-scrollbar-thumb {background: #000000;}
.tab_wrap ul::-webkit-scrollbar-track {background: #EAEAEA;}

.work_section .keyword span::before {content: "#";}

/*------------------------------ [ 페이지 제목, NOTE, 탭 영역 ] ------------------------------*/
.title {font-size: 32px; line-height: 32px; margin: 20px 0; font-weight: 700;}
.title.favicon {display: flex; align-items: center;}
.title i {display: block; width: 32px; height: 32px; margin-right: 2px;}
.title i img {display: block; width: 100%; height: 100%;}
.subtitle {font-size: 24px; line-height: 26px; margin:0;}
.subtitle span {font-size: 16px; color: #ACACAC; line-height: 18px;}

.note {border: 2px dashed #ccc; padding: 10px;}

/*------------------------------ [ work/menu_section 영역 ] ------------------------------*/

section ~ section {margin-top: 30px;}
.work_section,
.menu_section {display: none;}

.work_section.all,
.work_section.active,
.menu_section.all,
.menu_section.on {display: block;}

/*------------------------------ [ table 영역 ] ------------------------------*/

/* project_section table 영역 */
.work_section table {margin-bottom: 30px;}
.work_section table {width: 100%; table-layout: auto;}
.work_section table thead th {border-bottom: 1px solid #1C1C1C;}
.work_section table thead th .logo {display: block; width: 80%; margin: 0 auto;}
.work_section table thead th .icon_txt_wrap {width: 100%; display: flex; align-items: flex-end; justify-content: center; padding: 15px 0;}
.work_section table thead th .favicon {display: block; width: 60px; margin-right: 5px;}
.work_section table thead th .favicon img {vertical-align: bottom;}
.work_section table thead th strong {font-weight: 500;}

.work_section table thead td {text-align: center; font-weight: 500; text-transform: uppercase; background: #EAEAEA;}
.work_section table td {box-sizing: border-box; border: 1px solid #1C1C1C; padding: 5px; text-align: center; vertical-align: middle; font-size: 14px; word-break: break-word;}

.work_section table td:nth-child(1) {width: 30%;}
.work_section table td:nth-child(2) {width: 40%;}
.work_section table td:nth-child(2) a {display: block; text-decoration: underline; text-underline-offset : 5px; line-height: 30px; min-height: 30px;}

/* satenet */
.work_section .safenet_wrap {display: flex; align-items: flex-start; justify-content: center; margin: 0 auto;}
.work_section .safenet_wrap .safenet_item {position: relative;}
.work_section .safenet_wrap .safenet_item img {display: block; width: 40px;}
.work_section .safenet_wrap .safenet_item ~ .safenet_item {margin-left: 10px;}
.work_section .safenet_wrap .safenet_item span {position: absolute; top: -5px; left: 50%; transform: translate(-50%, -100%); padding: 10px; border-radius: 10px; display: block; width: auto; font-size: 10px; text-align: center; background: #000000; visibility: hidden; color: #EAEAEA; font-size: 12px; opacity: 0; white-space: nowrap;}
.work_section .safenet_wrap .safenet_item span::before {content: ""; position: absolute; bottom: -9px; left: 50%; transform: translate(-50%, 0); display: block; border-top: 6px solid #000000; border-right: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid transparent;}
.work_section .safenet_wrap .safenet_item:hover span {visibility: visible; opacity: 1; transition: all .3s;}

/* menu_section table 영역 */

/* comment */
.comment p,
.comment strong {font-size: 12px; line-height: 20px;}

.comment .more_detail {overflow: hidden; height: 20px;}
.comment .more_detail.open {height: auto;}
.comment .more_detail strong {display: block; background: #8eaeeb;}

.comment .vital {text-align: center; padding: 5px 0; margin: 5px 0;}

.notice li::before {content: "· ";}

/* 프로젝트별 코멘트 아이콘 */
.cola .comment p::before,
.cola .comment strong::before {content: "💧 ";}
.cola .comment .vital::after {content: " 💧";}

.cola .comment .vital {border-top: 1px solid #2503e2; border-bottom: 1px solid #2503e2;}

/*------------------------------ [ 레이아웃 가이드(.g_~) ] ------------------------------*/

#main {position: relative; padding-bottom: 30px;}
.layout {min-width: 320px; margin: 0 auto;}

h1 {margin-bottom: 30px;}
h2 {padding-left: 10px; font-size: 24px; line-height: 32px; font-weight: 500; margin-bottom: 10px; text-transform: uppercase;}
.work_section h2 {background: #EAEAEA; color: #333333;}

/* 프로젝트별 색상 */
.cola h2 {color: #0A0279; background: #77ADFF;}
.trpg h2 {color: #F2EFDF; background: #A67A53;}

.g_wrap {}
.g_wrap ~ .g_wrap {margin-top: 30px;}
.g_wrap strong {font-weight: 600;}
.g_wrap .g_tit {display: block; font-size: 18px; line-height: 26px; font-weight: 500; margin: 10px 0;}
.g_wrap .g_tit::before {content: "💡 ";}
.g_wrap .g_cont {margin: 10px 10px 0;}
.g_wrap .g_cont ~ .g_cont {margin-top: 30px;}
#logo .g_wrap .g_cont ~ .g_cont {margin-top: 0;}
.g_wrap .g_cont .g_ex {margin: 10px 0;}
.g_wrap .g_cont .g_code {background: #EAEAEA; padding: 10px;}
.g_wrap .g_cont .memo::before {content: "*";}
.g_wrap .g_cont .list li::before {content: "· ";}
.g_wrap .g_cont .g_table {margin-bottom: 20px;}
.g_wrap .g_cont .g_table th,
.g_wrap .g_cont .g_table td {width: calc(100% / 2); text-align: left; padding: 10px 0; border-bottom: 1px solid #0A0279;}
.g_wrap .g_cont .g_table tbody td{font-size: 14px; color: #111111;}

/* 아이콘 */
.g_wrap .icon_wrap {display: flex; flex-wrap: wrap; align-items: center;}
.g_wrap .icon_wrap img {margin-bottom: 5px; margin-right: 5px;}

/* title wrap */
.layout #logo {display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px;}
.layout #logo .g_cont ~.g_cont {margin: 0;}
.layout #logo h2 {grid-column: span 3; margin: 0;}

/*------------------------------ [ quick_menu ] ------------------------------*/

.quick_menu {position: sticky; width: 100%; top: 0; z-index: 10; overflow: hidden;}
.quick_menu ul {display: flex; width: 100%; padding: 0 15px; box-sizing: border-box; white-space: nowrap;}
.quick_menu ul li {height: 50px; line-height: 50px;}
.quick_menu ul li a {font-weight: 500; display: block; height: 100%; padding: 0 10px; text-align: center; text-transform: uppercase;}
.quick_menu ul li.on a {font-weight: 600; box-sizing: border-box;}
.quick_menu ul li.swiper-slide {width: auto !important;}

.cola .quick_menu {background: #050A26;}
.cola .quick_menu ul li a {color: #048ABF;}
.cola .quick_menu ul li.on a {color: #F2F2F2; border-bottom: 4px solid #F2F2F2;}

.trpg .quick_menu {background: #36281E;}
.trpg .quick_menu ul li a {color: #8C654F;}
.trpg .quick_menu ul li.on a {color: #F2F2F2; border-bottom: 4px solid #F2F2F2;}




/*------------------------------ [  ] ------------------------------*/

@media all and (max-width: 767px) and (min-width: 320px) {
	/* title wrap */
	.layout #logo {display: block;}
	.layout #logo .g_cont ~ .g_cont {margin-top: 30px;}
}


