@charset "uft-8";

/*------------------------------ [ project ] ------------------------------*/
.work_section .keyword span::before {content: "#";}


/*------------------------------ [ 페이지 제목, NOTE, 탭 영역 ] ------------------------------*/
.title {font-size: 32px; margin: 20px 0; font-weight: 700;}
.subtitle {font-size: 24px; line-height: 26px; margin:0;}
.subtitle span {font-size: 16px; color: #ACACAC; line-height: 18px;}

.note {border: 2px dashed #ccc; padding: 10px;}


/*------------------------------ [ work/menu_section 영역 ] ------------------------------*/
.work_section,
.menu_section {display: none;}

.work_section.all,
.work_section.active,
.menu_section.all,
.menu_section.on {display: block;}

/*------------------------------ [ table 영역 ] ------------------------------*/

/* comment */
.comment p,
.comment strong {font-size: 12px; line-height: 20px;}

.comment .more_detail {overflow: hidden; height: 20px;}
.comment .more_detail.open {height: auto;}
.comment .more_detail strong {display: block; background: #8eaeeb;}

.comment .vital {text-align: center; padding: 5px 0; margin: 5px 0;}

/* 프로젝트별 코멘트 아이콘 */
.cola .comment p::before,
.cola .comment strong::before {content: "💧 ";}
.cola .comment .vital::after {content: " 💧";}

.cola .comment .vital {border-top: 1px solid #2503e2; border-bottom: 1px solid #2503e2;}

/*------------------------------ [ 레이아웃 가이드 ] ------------------------------*/

.layout {min-width: 320px; margin: 0 auto;}

.layout h1 {margin-bottom: 30px;}
.layout h2 {padding-left: 10px; font-size: 24px; line-height: 32px; font-weight: 500; color: #0A0279; background: #77ADFF; margin-bottom: 10px;}

.g_wrap {}
.g_wrap ~ .g_wrap {margin-top: 30px;}
.g_wrap strong {font-weight: 600;}
.g_wrap .g_tit {display: block; font-size: 18px; line-height: 26px; font-weight: 500; margin: 10px 0;}
.g_wrap .g_tit::before {content: "💡 ";}
.g_wrap .g_cont {margin: 10px 10px 0;}
.g_wrap .g_cont ~ .g_cont {margin-top: 30px;}
.g_wrap .g_cont .g_ex {margin: 10px 0;}
.g_wrap .g_cont .g_code {background: #EAEAEA; padding: 10px; margin-bottom: 20px;}
.g_wrap .g_cont .meno::before {content: "*";}
.g_wrap .g_cont .list li::before {content: "· ";}
.g_wrap .g_cont .g_table {margin-bottom: 20px;}
.g_wrap .g_cont .g_table th,
.g_wrap .g_cont .g_table td {width: calc(100% / 2); text-align: left; padding: 10px 0; border-bottom: 1px solid #0A0279;}
.g_wrap .g_cont .g_table tbody td{font-size: 14px; color: #111111;}

/* 아이콘 */
.g_wrap .icon_wrap {display: flex; flex-wrap: wrap; align-items: center;}
.g_wrap .icon_wrap img {margin-right: 5px;}

/*------------------------------ [  ] ------------------------------*/
