@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*mob*/
@media all and (min-width: 320px) {
    #wrap {
        width: 98%;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 2px 5px #ccc;
}
    .filetitle { width: 100%; font-size: 13px; display: flex; align-items: center; column-gap: 5px;}
    .ageBox {
        display: flex; justify-content: center; align-items: center;
        width: 80px;
        height: 30px;
        background: #ffc400;
        margin-bottom: 12px;
        position: relative;
    }
    .ageBox:after {
        border-top: 10px solid #ffc400; 
        border-left: 10px solid transparent; 
        border-right: 10px solid transparent; 
        border-bottom: 0px solid transparent; 
        content:""; 
        position:absolute;
        top: 28px; left: 3px;
    }
    .filetitle p:nth-child(2) {
        position: static;
        display: flex; justify-content: center; align-items: center;
        height: 30px;
        background: #ffc400;
        margin-bottom: 12px;
        padding: 0 10px;
    }

    .title {
        width: 100%;
        font-size: 26px;
        font-family: '에스코어 드림7 ExtraBold';
        padding: 10px; box-sizing: border-box;
        padding-left: 0;
    }
    .subtitle { 
        font-size: 17px;
        font-family: '에스코어 드림5 Medium';
        padding: 5px; box-sizing: border-box;
        padding-left: 0;
    }
    .keyword { display: none;}
    .statusAgenre {
        display: flex; align-items: center; column-gap: 8px;
        margin: 15px 0;
        padding: 0 15px; padding-left: 0;
        color: #303030;
        font-size: 12px;
    }
    .statusAgenre div { color: #303030;}
    hr { width: 100%; border: 0; outline: 0; height: 1px; background: #303030;}
    .contents {
        box-sizing: border-box;
        padding: 40px 0px;
        font-family: '나눔바른고딕OTF';
    }
    input#send { outline: 0; border: 0; height: 60px; font-family: '에스코어 드림6 Bold';}

}

/*tap*/
@media all and (min-width: 768px) {
    

}
/*pc*/
@media all and (min-width: 1024px) {
    
}

/*https://swimfm.tistory.com/entry/%EC%8A%A4%ED%81%AC%EB%A1%A4-%EB%82%B4%EB%A6%AC%EB%A9%B4-%EC%83%81%EB%8B%A8%EC%97%90-%EA%B3%A0%EC%A0%95%EB%90%98%EB%8A%94-%EB%84%A4%EB%B9%84-%EB%A9%94%EB%89%B4-%EB%A7%8C%EB%93%A4%EA%B8%B0

부분 스크롤 고정 사이트

http://rwdb.kr/button_10/

버튼 css
*/