
/*mob*/
@media all and (min-width: 320px) {
    /*contents*/
    /*page*/
    .pageExplan {
        width: 100%; height: 100px;
        overflow: hidden;
        text-align: center;;
        display: flex;  align-items: center; justify-content: center;
        line-height: 18px;
        text-align: center;
        margin-top: 60px;
        cursor: pointer;
        background: #707070;
    }
    /*팝업창*/
    #popup {
        z-index: 9999;
        display: none; /*숨기기*/
        position: fixed; top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);
    }
    #popmenu {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
        height: 80%;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
}
    #popmenu p {
        margin-top: 80px;
    }
    .exit {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%,0);
        width: 80px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #ffc400;
        color: #fff;
        text-shadow: 0 2px 2px #1189ec3d;
        cursor: pointer;
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        }

        /*slide*/
        #slide { position: relative; max-width: 100%; width: 100%; margin-bottom: 50px;
            overflow: hidden;}
        #slide .cnt {
            max-width: 100%; width: 100%; height: 340.47px;
            margin: auto;
        }
        #slide .cnt > li {
            display: flex; flex-flow: column nowrap;
            position: absolute;
            top: 0; left: 100%;
            overflow: hidden;
            width: 100%; height: 340.47px;
            background: #ccc;
        }
        #slide .cnt li > a {
            width: 100%; height: 235px;
        }
        #slide .cnt li a > img.imgbox { width: 100%; height: 238px; background: #707070;}
        #slide li h3, #slide li > p, #slide li .keyword, #slide li .status { width: 95%; margin: auto;}
        #slide .btn > button {
            z-index: 1;
            position: absolute;
            width: 30px; height: 30px;
            bottom: 0;
            border: 0;
            padding: 5px;
            font-family: '에스코어 드림5 Medium';
            outline: 0;
            background: #ECECEC;
            line-height: 0;
            cursor: pointer;
        }
        #slide .btn .prev { right: 44px;}
        #slide .btn .next { right: 9px;}
        #slide li h3 { font-family: '에스코어 드림6 Bold'; font-size: 15px; margin: 10px auto;}
        #slide li p { font-size: 12px; line-height: 14px;}
        #slide li a > p { width: 95%; margin: auto;}
        #slide li .keyword { margin-top: 10px;}
        .keyword { display: flex;}
        .keyword p {margin-right: 5px; z-index: 1;}
        .keyword p::before { content: "#"; color: #1189EC;}
        .keyword p a {color: #1189EC;}
        #slide .text {
            width: 95%; margin: auto;
            position: absolute;
            bottom: 0; left: 0;
            display: flex; flex-flow: column nowrap; align-items: flex-start;
        }
        #slide .title {
            z-index: 1;
            display: flex; flex-flow: column nowrap; align-items: flex-start;
            width: 100%;
            margin: 0;
            font-family: '에스코어 드림3 Light';
        }
        #slide .title h3 {font-size: 15px;}
        #slide .title hr { width: 30%; border-bottom: 1px solid #303030; margin: 0;}
        .title hr { border: 0; border-bottom: 1px solid #303030;}
        #slide .text > p { width: 95%; margin: auto;}
        .status, .view, .heart { display: flex; align-items: center;}
        .status img { width: 16px; height: 16px; object-fit: contain; margin: 0 5px; image-rendering: -webkit-optimize-contrast;}
        #slide li .status { margin: 5px auto;}
        .slide .auto { display: none;}
        .indi {display: none;}

        .banner { width: 100%; height: 150px; background: #ccc;}
    .list { width: 95%; justify-content: center; align-items: center;}
    #title { 
        width: 90%; height: 50px; margin: auto;
        display: flex; flex-flow: column nowrap;
        align-items: center; justify-content: center;
        text-align: center;
        margin-top: -28px;
    }
    #title h3 { font-size: 20px; height: 30px; text-transform: uppercase;}
    .userName {
        box-sizing: border-box;
        width: 90%;
        margin: auto;
        margin: 20px auto;
        display: grid; grid-template-columns: 1fr 40px 1fr 40px 1fr;
        align-items: center;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    .userName div { width: 100%; font-size: 12px; line-height: 14px;}
    .userName hr { width: 2px; height: 80%; border: 0; outline: 0; background: #ccc;}
    .userName .name {font-size: 20px; font-family: '에스코어 드림6 Bold'; line-height: 24px;}
    .userName .id { font-size: 12px;}
    .iconbox { width: 50%; display: flex; justify-content: space-around; align-items: center;}
    .iconbox i {font-size: 16px; padding: 5px;}
    .iconbox span { display: none;}
    .date_numder { width: 100%; display: flex; flex-flow: column nowrap; align-items: center;}
    .date_numder p { text-align: center;}
    .list_num { display: flex; align-items: center;}
    .writeview {display: flex; flex-flow: column; align-items: center;}
    .writeview p:nth-child(1) {
        border-radius: 2px;
        padding: 5px;
        margin-bottom: 5px;
        box-shadow: 0px 1px 3px #ffc400;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    p.date { font-size: 8px;}
    .writelist, .heartlist {
        box-sizing: border-box;
        width: 90%;
        margin: auto; margin-bottom: 20px;
        display: flex; justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    hr { outline: 0; border: 0; width: 98%; height: 2px; background: #303030;}
    .writeBox img, .heartBox img {
        width: 150px; aspect-ratio: 14 / 9 ; background: #ccc;
        margin-right: 10px;
    }
    .writeBox, .heartBox {
        position: relative;
        width: 100%;
        display: flex;
        margin: 10px auto;
    }
    .writeBox a { display: flex; grid-column: 10px; }
    .writeBox .text, .heartBox .text { width: 100%; display: grid; grid-template-columns: 1, 4fr;}
    .writeBox .text .subtitle {font-size: 12px;}
    .writeBox .iconbox {
        width: 100px;
        position: absolute;
        right: 0;
    }
    .writeBox .iconbox button {
        border: 0; outline: 0;
        padding: 5px;
        cursor: pointer;
        z-index: 9;
    }
    .keyword { display: flex; font-size: 10px; align-items: center;}
    .keyword .tag {
        display: flex; align-items: center;
        padding: 5px; margin-right: 5px;
        background: #ffc400;
        line-height: 12px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .keyword .tag:last-child { margin: 0;}
    .keyword div::before { content: "#";}
    .status { display: flex; font-size: 10px; justify-content: left; align-items: center;}
    .status .view, .status .heart { display: flex;}
    .status .view i, .status .heart i { margin-left: 5px;}
    .titleBox { width: 100%;}
        /*listBTN*/
        .listBTN {
            width: 98%; margin: auto;
            border-bottom: 1px solid #303030;
        }
        .listBTN button {
            border: 0; outline: 0;
            background: none;
            font-family: '에스코어 드림3 Light';
            padding: 8px 0;
        }
        .listBTN button:nth-child(1) { font-family: '에스코어 드림6 Bold'; color: #ffc400; text-shadow: 0 2px 1px #ffc4003d;}
        /*paging*/
        .paging {
            width: 80%;
            display: flex; align-items: center;
            margin: 20px auto;
        }
        .paging ul { width: 70%; margin: auto; display: flex; align-items: center; justify-content: space-around;}
        .paging ul li {
            width: 24px; height: 24px;
            font-family: '에스코어 드림3 Light';
            border-radius: 3px;
            background: #ECECEC;
            display: flex; align-items: center; justify-content: center;
            cursor: pointer;
            text-align: center; line-height: 12px;
        }
        .paging ul li:nth-child(1) {
            width: 28px; height: 28px;
            background: #ffc400; box-shadow: 0 3px 5px #ffc4003d; color: #fff;
        }
        .paging ul li:nth-child(5) {background: none;}
        .paging #next, .paging #previous {
            width: 24px; height: 24px;
            font-family: '에스코어 드림6 Bold';
            font-size: 18px;
            border: 0; line-height: 0;
            color: #ffc400; background: none;
            cursor: pointer;
        }

}

/*tap*/
@media all and (min-width: 768px) {
    
}
/*pc*/
@media all and (min-width: 1024px) {

}


