@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.container {
    width: 60%;
    margin: 40px;
}
.tag_container {
    border: 2px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex; flex-wrap: wrap;
    align-content: flex-start;
}
.tag_container .tag {
    padding: 5px;
    border: 2px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #f2f2f2;
    cursor: default;
}
.tag i {
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}
.tag_container input {
    flex: 1;
    padding: 5px;
    outline: none; border: 0;
}