/*mob*/
@media all and (min-width: 320px) {
    /*bigf*/
    #bigf {
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        width: 100vw;
    }
    .navgation {
        width: 100%; height: 50px;
        background: #FFC917;
        display: flex;
        overflow: hidden;
        text-transform: uppercase;
        transition: all 0.5s ease;
        z-index: 9999;
        overflow-y: auto;
    }
    .navgation.active {
        width: 100%;
        height: 100vh;
    }
    .navgation ul { width: 98%; margin: 0 auto;}
    .navgation ul li a { display: flex; align-items: center;}
    .navgation.active ul {
        position: static;
    }
    .navgation i {
        font-size: 24px;
        padding: 5px;
        cursor: pointer;
    }
    /*logo*/
    .navgation .logo {
        order: 1;
    }
    .navgation .logo .title {
        font-size: 22px;
    }
    .navgation ul .logo a {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center; justify-content: flex-start;
        font-family: '에스코어 드림7 ExtraBold';
    }
    .navgation .icon img { 
        width: 24px; height: 24px;
        object-fit: contain; 
        border-radius: 2px;
        padding: 5px;
        background: #fff;
        margin-right: 10px;
    }
    /*toggleBTN*/
    .toggleBTN {
        margin: auto;
        position: fixed;
        top: 8px; right: 3.20px;
        z-index: 999;
    }
    /*subnav*/
    .navgation .subnav { display: none;}
    .navgation.active .subnav.subactive { 
        display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;
        transition: all 0.5s ease;
    }
    .navgation.active .subnav.subactive li {
        transition: all 0.5s ease;
        width: 100%;
        padding: 5px 0;
    }
    .navgation.active .subnav.subactive li a {
        display: flex; align-items: center;
        width: 80%; margin: auto;
    }
    #rightbox { display: none;}
    /*footer*/
    .footer { display: flex; flex-flow: column nowrap; background: #FFC917;}
    .footer .nav1 { width: 100%;}
    .footer .nav2 { width: 100%; text-align: center;}
    .footer .socialbox { 
        width: 100%;
        display: flex; align-items: center; justify-content: space-around;
        font-size: 24px;
    }
    .footer .socialbox p, .footer .rightspace { display: none;}



}


/*tap*/
@media all and (min-width: 768px) {
    #bigf {
        flex-flow: row;
    }
    /*navgation*/
    .navgation {
        flex-shrink: 5%;
        box-sizing: border-box;
        padding: 6px 14px;
        min-width: 70px; width: 70px;
        min-height: 100%; height: 100%;
        position: fixed;
        top: 0; bottom: 0; left: 0;
    }
    .navgation.active {
        min-width: 70px; width: 240px;
    }
    .navgation > ul { width: 100%; margin-bottom: 10px;}
    .navgation > ul > li {
        width: 100%;
        padding: 10px 0;
        font-family: '에스코어 드림5 Medium';
        display: flex;
        align-items: center; justify-content: center;
    }
    .navgation.active > ul > li {
        display: block;
        float: left;
        cursor: pointer;
    }
    .navgation.active .bigtitle {
        width: 100%;
        display: flex; align-items: center;
    }
    .navgation > ul > li > a {
        display: flex;
        align-items: center; justify-content: center;
        padding: 5px;
    }
    .navgation.active > ul > li > a {
        pointer-events: all;
        justify-content: left;
    }
    /*none, block*/
    .navgation .title { display: none;}
    .navgation.active .title { display: block; transition: all 0.5s ease;}
    .navgation .title {
        font-size: 16px;
        margin-left: 8px;
    }
    .navgation i {
        font-size: 24px;
        padding: 5px;
        cursor: pointer;
    }
    .navgation .write a {
        border-radius: 500px;
        background: #fff;
    }
    .navgation .icon img { 
        width: 24px; height: 24px;
        object-fit: contain; 
        border-radius: 2px;
        padding: 5px;
        background: #fff;
    }
    .navgation ul .logo { opacity: 0;}
    .navgation.active ul .logo { opacity: 1;}
    /*toggleBTN*/
    .navgation .toggleBTN {
        width: 50px; height: 50px;
        display: flex; justify-content: center; align-items: center;
        position: absolute;
        top: 25px; left: 50%;
        transform: translate(-50%);
        z-index: 999;
    }
    .navgation.active .toggleBTN {
        width: 40px; height: 40px;
        position: absolute;
        top: 25px; left: 90%;
    }

    /*subnav*/
    .navgation .subnav { display: none;}
    .navgation.active .subnav.subactive { 
        display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;
        transition: all 0.5s ease;
    }
    .navgation.active .subnav.subactive li {
        transition: all 0.5s ease;
        width: 100%;
        padding: 10px 0;
    }
    .navgation.active .subnav.subactive li a {
        display: flex; align-items: center;
        width: 80%; margin: auto;
    }
    .navgation.active .subactive li:hover a {
        border-radius: 500px;
    }

    /*wrap*/
    #wrap {
        min-width: 698px; width: 100%;
        min-height: 100vh; height: 100%;
        margin-left: 70px;
    }
    /*social*/
    #rightbox {
        position: fixed;
        top: 0; right: 0;
        display: flex; align-items: center; justify-content: flex-end;
        min-width: 708px; width: 100%;
        max-height: 60px; height: 100%;
        z-index: 999;
    }
    #rightbox .logo a { 
        width: 100%;
        display: flex; align-items: center; 
        margin: 0 10px; padding: 5px; 
        text-transform: uppercase;
        font-family: '에스코어 드림7 ExtraBold';
    }
    #rightbox .logo h3 { margin-left: 5px; text-transform: uppercase;}
    #rightbox .logo img { width: 32px; height: 32px; object-fit: contain;}
    /*footer*/
    
}
/*pc*/
@media all and (min-width: 1024px) {
    /*wrap*/
    #wrap {
        min-width: 964px; width: 94.140625%;
    }

    /*footer*/
    
}

/*https://swimfm.tistory.com/entry/%EC%8A%A4%ED%81%AC%EB%A1%A4-%EB%82%B4%EB%A6%AC%EB%A9%B4-%EC%83%81%EB%8B%A8%EC%97%90-%EA%B3%A0%EC%A0%95%EB%90%98%EB%8A%94-%EB%84%A4%EB%B9%84-%EB%A9%94%EB%89%B4-%EB%A7%8C%EB%93%A4%EA%B8%B0

부분 스크롤 고정 사이트

http://rwdb.kr/button_10/

버튼 css
*/