@media all and (min-width: 320px) {
    /*bigf*/
    #bigf {
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        width: 100vw;
    }
    .navgation {
        width: 100%;
        height: 50px;
        background: #FFC917;
        display: flex;
        overflow: hidden;
        text-transform: uppercase;
        transform: all 0.3s ease;
        -webkit-transform: all 0.3s ease;
        -moz-transform: all 0.3s ease;
        -ms-transform: all 0.3s ease;
        -o-transform: all 0.3s ease;
        z-index: 9999;
        overflow-y: auto;
    }
    .navgation.active { width: 100%; height: 100vh;}
    .navgation ul { width: 98%; margin: 0 auto;}
    .navgation ul li a { display: flex; align-content: center;}

}