@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*mob*/
@media all and (min-width: 320px) {
    #wrap form {
        display: flex; flex-flow: column nowrap; align-items: center;
        max-width: 1000px; width: 98%; margin: auto;
    }
    .toolbar { width: 100%;}
    input[type="text"] { 
        box-sizing: border-box;
        width: 100%;
        outline: 0; border: 1;
        padding: 10px;
        resize: none;
        overflow: hidden;
        caret-color: rgb(255, 187, 0);
        border: 0;
    }
    input[type="text"]::placeholder { color: #000;}
    input[name="title"]{
        min-height: 55px; height: 55px;
        resize: none;
        overflow: hidden;
        padding: 10px 0;
        font-family: '에스코어 드림8 Heavy';
        font-size: 2.125em; font-size: 2.125rem;
        line-height: 2.125em; line-height: 2.125rem;
        margin: 0; padding: 10;
    }
    input[name="subtitle"]{
        min-height: 40px; height: 40px;
        resize: none;
        overflow: hidden;
        word-wrap: break-word;
        font-family: '에스코어 드림5 Medium';
        font-size: 1.125em; font-size: 1.125rem;
        line-height: 1.125em; line-height: 1.125rem;
        padding: 2px; margin: 10px 0; margin-top: 8px;
    }
    hr{ background: #dcdcdc; margin: 0;}
    .container {
        max-width: 1000px; width: 98%;
        margin: 40px;
    }
    .tag_container {
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        display: flex; flex-wrap: wrap;
        align-content: flex-start;
    }
    .tag_container .tag {
        padding: 5px;
        border: 1px solid #ccc;
        margin: 5px;
        display: flex;
        align-items: center;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        background: #f2f2f2;
        cursor: default;
    }
    .tag i {
        font-size: 12px;
        margin-left: 8px;
        cursor: pointer;
    }
    .tag_container input {
        flex: 1;
        padding: 5px;
        outline: none; border: 0;
    }
    .tag span { font-size: 12px;}
        
    .tool-list {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 0;
        margin: 1rem;
        margin-left: 0;
        overflow: hidden;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        background: #efefef;
    }
    .tool--btn {
        display: block;
        border: none;
        padding: .5rem;
        font-size: 20px;
        height: 50px;
    }
    input.tool--btn { font-size: 15px; padding: 0; width: 75px;}

    #output {
        width: 100%; min-height: 500px; height: auto;
        overflow: hidden;
        border: 0;
        border-top: 1px solid #3b3b3b;
        border-bottom: 1px solid #3b3b3b;
        font-family: '나눔바른고딕OTF';
    }
    .selectbox {display: flex; align-items: center; justify-content: center;}
    .checkbox { width: 100%; display: flex; justify-content: space-between;}
    /*체크박스 디자인*/
    .allcheckbox { display: flex;}
    .adultBox{ display: flex; margin: 0; align-items: center; margin-right: 20px;}
    input[type="button"]::focus{outline:0; pointer-events: all;}
    input[type="checkbox"] {display: none;}
    input[type="checkbox"] + label {
        width: 20px;
        height: 20px;
        border: 1px solid #707070;
        border-radius: 3px;
        cursor: pointer;
        float: right;
        transition: background 0.1s ease;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        -webkit-transition: background 0.1s ease;
        -moz-transition: background 0.1s ease;
        -ms-transition: background 0.1s ease;
        -o-transition: background 0.1s ease;
        -webkit-transform: translate(-50%);
        pointer-events: all;
}
    #icon:after{
        content: " ";
        position: absolute;
        top: 2px;
        left: 5.4px;
        width: 6px;
        height: 9.5px;
        border-right: 3px solid #303030;
        border-bottom: 2px solid #303030;
        transform: rotate(45deg) scale(0);
        transition: all 0.3s ease;
        z-index: 999;
        background: #ffc400;
        /*transition-delay: 0.5s;
        */opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
}
    input[type="checkbox"]:checked ~ #icon {
        border-color : transparent;
        background: #ffc400;
    }
    input[type="checkbox"]:checked ~ #icon:after{
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
    input[id="allCheck"] + #icon{
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #707070;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.1s ease;
        -webkit-transition: background 0.1s ease;
        -moz-transition: background 0.1s ease;
        -ms-transition: background 0.1s ease;
        -o-transition: background 0.1s ease;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    #locationXY {
        width: 100px;
        padding: 5px;
        outline: 0;
    }
}

/*tap*/
@media all and (min-width: 768px) {
    #wrap { justify-content: flex-start;}
    #wrap form {
        margin-top: 60px;
    }

    

}
/*pc*/
@media all and (min-width: 1024px) {
    
}

/*https://swimfm.tistory.com/entry/%EC%8A%A4%ED%81%AC%EB%A1%A4-%EB%82%B4%EB%A6%AC%EB%A9%B4-%EC%83%81%EB%8B%A8%EC%97%90-%EA%B3%A0%EC%A0%95%EB%90%98%EB%8A%94-%EB%84%A4%EB%B9%84-%EB%A9%94%EB%89%B4-%EB%A7%8C%EB%93%A4%EA%B8%B0

부분 스크롤 고정 사이트

http://rwdb.kr/button_10/

버튼 css
*/