@charset "uft-8";

/* -------------------------------- [font] -------------------------------- */
/* font-family: 'Noto Sans KR', sans-serif; *//*기본 한글폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans', sans-serif; *//*기본 영문폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Nanum Brush Script', cursive; font-family: 'Nanum Pen Script', cursive; *//*나눔브러쉬, 펜*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');
/* --------------------------------// [font] -------------------------------- */

/* -------------------------------- [RESET] -------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,  big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,  canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,  mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 1rem; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-family: 'Noto Sans KR', sans-serif;}
h1,h2,h3,h4,h5{font-weight:normal;}
ol, ul {list-style: none;}
button{border:0; background:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse; border-spacing: 0; width: 100%;}
caption{visibility:hidden; height:0px; overflow:hidden; font-size:0;}
a { text-decoration: none; color: #000;}
/* --------------------------------// [RESET] -------------------------------- */

/* -------------------------------- [공통] -------------------------------- */

/* 이미지 */
img {display: block; width: 100%;}

/* #wrap {position: relative; width: 100vw; height: 100vh; box-sizing: border-box; overflow-x: hidden;}*/
/*.go_link {position: absolute; display: block; width: 100%; height: 100%;}*/
.blind {font-size: 0;line-height: 0;}

/* --------------------------------// [공통] -------------------------------- */

/* -------------------------------- [index, main페이지] -------------------------------- */
#wrap.main {position: relative; background: #8b1111; padding-bottom: 380px;}

/* #wrap.main section {position: relative; width: 100%; height: 100vw;} */

#wrap.main .link {position: relative; width: 30vw;}

/* #wrap.main .bag {position: fixed; top: -28%; left: 50%; transform: translateX(-50%); width: 56vw;}
#wrap.main .menual {position: fixed; top: 3%; width: 27vw;}
#wrap.main .scen {position: fixed; bottom: -24%; left: -4%; width: 37vw;}
#wrap.main .passport {position: fixed; right: 0%; width: 23vw;}
#wrap.main .news {position: fixed; right: -10%; bottom: -30%; width: 45vw;}

#wrap.main .link:hover {visibility: visible; opacity: 1;}

#wrap.main .subtit {font-family: 'Nanum Pen Script', cursive; font-weight: 100;}
#wrap.main .typing {position: fixed; bottom: -12vw; left: 50vw; transform: translateX(-50%); width: 40vw;}
#wrap.main .pen {position: fixed; bottom: -10vw; right: -4vw; transform: rotate(65deg) translateX(-50%); width: 30vw;}
#wrap.main .pencil {position: fixed; bottom: -10vw; right: -2vw; transform: rotate(55deg) translateX(-50%); width: 30vw;} */

#wrap.main .copyright {color: #36281E; font-size: 14px; text-align: center; text-transform: uppercase;}


/* --------------------------------// [index, main페이지] -------------------------------- */

/* -------------------------------- [index, char페이지] -------------------------------- */
.char {background: #ccc;}

.char #main {display: flex;}

.char .tab_wrap {position: sticky; top: 0; z-index: 10; width: 15vw; height: 100vh; overflow: hidden; overflow-y: scroll; background: #EAEAEA;}
.char .tab_wrap ul {width: 100%; white-space: nowrap; align-items: flex-start; padding: 10px 0; margin: 30px 0;}
.char .tab_wrap li {width: 90%; padding: 0 10px; height: 35px; line-height: 35px; color: #333333; background: #EAEAEA; cursor: pointer;}
.char .tab_wrap li.active,
.char .tab_wrap li.on {font-weight: 600;}

/* 스크롤 디자인 */
.char .tab_wrap::-webkit-scrollbar {width: 8px; overflow: auto;}
.char .tab_wrap::-webkit-scrollbar-thumb {background: #000000;}
.char .tab_wrap::-webkit-scrollbar-track {background: #EAEAEA;}

.char_wrap {display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; width: 70vw; margin: 0 auto;}
.char_item {position: relative; width: 100%; height: 0; padding-bottom: 200%; overflow: hidden; overflow: hidden; display: none;}
.char_item.all,
.char_item.active {display: block;}
.char_item figure {position: absolute; width: 140%; height: 100%;}
.char_item.non_img figure {position: absolute; width: 100%; height: 100%;}
.char_item figure img {height: 100%; object-fit: cover;}
.char_item figure::before {content: ""; position: absolute; width: 140%; height: 100%; background: linear-gradient(to top, #000, 60%, transparent); opacity: 0.4; visibility: hidden; opacity: 0;}
.char_item .profile_info {position: absolute; left: 50%; transform: translateX(-50%); bottom: 30px; width: 100%; text-align: center; overflow: hidden; z-index: 1; visibility: hidden; opacity: 0;}
.char_item .profile_info dt {display: flex; flex-flow: column; align-items: center; color: #F2F2F2; word-break: keep-all;}
.char_item .profile_info .name {font-size: 32px; line-height: 44px; font-weight: 700; letter-spacing: 3px; font-family: 'Nanum Brush Script', cursive;}
.char_item .profile_info .lang_name {font-size: 14px; font-weight: 400; text-transform: capitalize;}
.char_item .profile_info dd {width: 80%; margin: 0 auto; font-size: 14px; line-height: 24px; font-weight: 300; text-transform: capitalize; color: #F2F2F2; word-break: keep-all;}

.char_item:hover figure::before,
.char_item:hover .profile_info {visibility: visible; opacity: 1; transition: all 0.3s;}


/* --------------------------------// [index, char페이지] -------------------------------- */

/* -------------------------------- [char, char상세페이지] -------------------------------- */
#wrap.char_info {}


/* --------------------------------// [char, char상세페이지] -------------------------------- */

@media all and (max-width: 767px) and (min-width: 320px){
/* -------------------------------- [index, char페이지] -------------------------------- */
.char .tab_wrap {width: 30vw;}
.char_wrap {width: 85vw; grid-template-columns: repeat(2, 1fr);}

}

@media all and (max-width: 1023px) and (min-width: 768px) {
/* -------------------------------- [index, char페이지] -------------------------------- */
.char .tab_wrap {width: 25vw;}
.char_wrap {grid-template-columns: repeat(3, 1fr);}
}

