@charset "uft-8";

/* -------------------------------- [font] -------------------------------- */
/* font-family: 'Noto Sans KR', sans-serif; *//*기본 한글폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans', sans-serif; *//*기본 영문폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Nanum Brush Script', cursive; font-family: 'Nanum Pen Script', cursive; *//*나눔브러쉬, 펜*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');
/* --------------------------------// [font] -------------------------------- */

/* -------------------------------- [RESET] -------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,  big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,  canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,  mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 1rem; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-family: 'Noto Sans KR', sans-serif;}
h1,h2,h3,h4,h5{font-weight:normal;}
ol, ul {list-style: none;}
button{border:0; background:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse; border-spacing: 0; width: 100%;}
caption{visibility:hidden; height:0px; overflow:hidden; font-size:0;}
a { text-decoration: none; color: #000;}
/* --------------------------------// [RESET] -------------------------------- */

/* -------------------------------- [공통] -------------------------------- */

/* 이미지 */
img {display: block; width: 100%;}



/* --------------------------------// [공통] -------------------------------- */

/* -------------------------------- [index, main페이지] -------------------------------- */
#wrap.main {width: 100vw; height: 100vh; overflow: hidden; background: #F2F2F2;}

#wrap.main .subtit {font-family: 'Nanum Pen Script', cursive; font-weight: 100;}


/* --------------------------------// [index, main페이지] -------------------------------- */